#The location on disk where the connector is deployed.
DEPLOY_LOCATION="/Users/matthew/Desktop/connector_sample_0.1"

#HTTP Port enabled for testing only. Removing/Commenting out this line will disable http
HTTP_PORT=9000

HTTPS_PORT=9001

LOG_FILE="${DEPLOY_LOCATION}/connector.log"

#Path to your JAVA 8 installation
JAVA_INSTALL_PATH=/Library/Java/JavaVirtualMachines/jdk1.8.0_25.jdk/Contents/Home/

#Application secret. This will be used to register this connector in the builder.
APPLICATION_SECRET='lr2A/[pbWVsqHZZWOm6hKkS5axh_qdS]6IF^Oz0El6l_TGCI`mO6@2vTwA]AeRUA'